<br /><br />
<div>
  <mat-form-field apperance="outline">
    <mat-label class="cos"> Nowe zadanie </mat-label>
    <input matInput [(ngModel)]="title" #newTitle />
    <mat-hint class="male">Nazwa nowego zadania:</mat-hint>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field apperance="outline">
    <mat-label class="cos">Termin:</mat-label>
    <input
      matInput
      [(ngModel)]="deadline"
      type="text"
      [matDatepicker]="picker"
    />
    <mat-hint class="male">Opcjonalna data wykonania:</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="addBtnClick()"
  >
    Dodaj
  </button>
</div>
<br />
<div id="newElements"></div>
<br />
<button type="button" (click)="archiveCompleted()">Archiwizuj wykonane</button>
