div {
  display: inline;
}
.cos {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.male {
  font-size: 10.5px;
  color: hsl(0, 1%, 70%);
}
